# Dependencies
node_modules/

# Environment secrets
.env
.env.local
.env.*.local

# Build output
dist/
build/
.expo/
web-build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Expo
.expo-shared/

# TypeScript
*.tsbuildinfo
